# --------------------------
# macOS 系统文件
# --------------------------
.DS_Store
.AppleDouble
.LSOverride

# --------------------------
# Python 临时文件
# --------------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------------
# 虚拟环境
# --------------------------
venv/
env/
*.egg-info/
dist/
build/

# --------------------------
# IDE 配置文件
# --------------------------
.vscode/
.idea/

# --------------------------
# 数据库或敏感文件
# --------------------------
.env                          # 数据库账号密码
neo4j_utils/neo4j_config.py   # Neo4j 配置文件
neo4j_utils/neo4j_test.py     # neo4j配置测试文件
config.json                   # 如果有敏感信息
secrets.json                  # 其他密钥

# --------------------------
# 数据集
# --------------------------
data/*.txt                    # 大型或敏感数据集
data/*.json                   # 同上
*.txt                          # 如果项目根目录有不想上传的 txt
*.json                         # 同上

# --------------------------
# 模型文件
# --------------------------
models/*.pt                    # PyTorch 模型
models/*.bin                   # 二进制模型
models/*.h5                    # Keras / TF 模型
models/*.onnx		       # onnx加速模型

# --------------------------
# 日志文件
# --------------------------
*.log

# 临时测试文件
# --------------------------
*test.py